@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Zilla+Slab:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');

body {
    background-color: #1a1a1a;
    color: #cc0000;
}

/* grouping all flex properties */
.keyrow,
.keyrow div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.keyrow {
    position: absolute;
    flex: auto;
    height: 100%;
    width: 100%;
    gap: 50px;
}

.keyrow div {
    flex-flow: column;
    flex: initial;
    height: 100px;
    width: 100px;
    gap: 10px;
    background-color: #262626;
    border-radius: 10px;
    transition: all 0.05s;
}

.keyrow div * { margin: 0; }
.keyrow div h2 { font-family: 'Zilla Slab', monospace; }
.keyrow div p { font-family: 'Inter', sans-serif; }

/* When key is active */
.active {
    transform: scale(1.1);
    border: 2px solid #cc2900;
    box-shadow: 0 0 10px #cc2900;
}